<html>
    <head>
        <title>Shoe Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="shoestyle.css" rel='stylesheet'>
    </head>

    <body>
        <div class="container">

            <img src="bg.jpg" class="bg-stretch">

            <img src="shoe.png" class="logo">
            <h1>&nbsp; &nbsp; &nbsp; &nbsp; Uncle Poopenheim's &nbsp; &nbsp; &nbsp; </h1>
            <h1>&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; Fantastic Shoe Finder</h1>
            <hr>

            <div class="col-xs-8">

                <h2>Welcome to the Shoe Finder!</h2>
                <p>Growing up as a young child on the banks of the old Mississippi River in 1912 was no mean trick. Times were tough, and shoes had to be even tougher! Sometimes a man would travel seventy miles to find just the right brand of shoes for his particular foot. Back then, however, it was my Uncle Poopenheim who brought salvation to our small town via his network of wooden rafts. Poopenheim and I would board our finest rafts of elm and yew, and pole ourselves down the Mississip' to scout out, buy, and deliver all the best shoes. It is in his memory that Uncle Poopenheim's Fantastic Shoe Finder drifts along the world's internet today. While times may have changed, our society's need for quality shoes certainly has not.  Please think kindly on old Uncle Poopenheim as you search for and organize shoe stores and brands today</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; - Little William Poopy (Founder)</p>


            </div>

            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg btn-home">RETURN HOME</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-brand">VIEW ALL STORES</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-store">VIEW ALL BRANDS</button>
                </form>
            </div>

        </div>
    </body>
</html>
