<html>
    <head>
        <title>Shoe Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="shoestyle.css" rel='stylesheet'>
        <link href="/../shoestyle.css" rel='stylesheet'>
    </head>

    <body>
        <div class="container">

            <h3><center>Uncle Poopenheim's</center></h3>
            <h1><center>Fantastic Shoe Finder<center></h1>

            <div class="col-xs-8">
            </div>

            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg btn-home" style="width:250px">RETURN HOME</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-brand" style="width:250px">VIEW ALL STUDENTS</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-store" style="width:250px">VIEW ALL COURSES</button>
                </form>
            </div>

        </div>
    </body>
</html>
